<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/style/style_header.css" />
    <link rel="stylesheet" href="../css/normalize.css" />

    <script
      src="https://kit.fontawesome.com/8b9da90af5.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <nav class="menu">
      <label class="menu__logo" id="menu__logo">
        Barber<span>Spartan</span>
      </label>

      <ul class="menu__items" id="menu__items">
        <li>
          <a class="active" href="">Agendar Cita</a>
        </li>
        <li>
          <a href="">Iniciar Sesion</a>
        </li>
      </ul>

      <span class="menu__btn__burger" id="menu__btn__burger">
        <i class="fas fa-bars"></i>
      </span>
    </nav>

    <div class="container__main" id="container__main">
      <div class="hero"></div>  
      <main class="container">
        <h1>Nuestros Estilos</h1>

          <div class="container__cards">
            <div class="card" >
              <img class="card-img-top" src="../resources/c1.jpg" alt="Card image cap">
              <hr>
              <div class="card-body">
                <h5 class="card-title">Corte Moicano</h5>
                <p class="card-text">
                  El tiempo promedio de un corte de este tipo es de 20 minutos
                </p>
                <p class="card-footer">Precio: $50.00</p>
                <a href="#" class="btn btn-primary">Agendar Cita</a>
              </div>
            </div>
            <div class="card" >
              <img class="card-img-top" src="../resources/c2.jfif" alt="Card image cap">
              <hr>
              <div class="card-body">
                <h5 class="card-title">Corte Moicano</h5>
                <p class="card-text">
                  El tiempo promedio de un corte de este tipo es de 20 minutos
                </p>
                <p class="card-footer">Precio: $50.00</p>
                <a href="#" class="btn btn-primary">Agendar Cita</a>
              </div>
            </div>
            <div class="card" >
              <img class="card-img-top" src="../resources/barber.png" alt="Card image cap">
              <hr>
              <div class="card-body">
                <h5 class="card-title">Corte Moicano</h5>
                <p class="card-text">
                  El tiempo promedio de un corte de este tipo es de 20 minutos
                </p>
                <p class="card-footer">Precio: $50.00</p>
                <a href="#" class="btn btn-primary">Agendar Cita</a>
              </div>
            </div>
            <div class="card" >
              <img class="card-img-top" src="../resources/barber.png" alt="Card image cap">
              <hr>
              <div class="card-body">
                <h5 class="card-title">Corte Moicano</h5>
                <p class="card-text">
                  El tiempo promedio de un corte de este tipo es de 20 minutos
                </p>
                <p class="card-footer">Precio: $50.00</p>
                <a href="#" class="btn btn-primary">Agendar Cita</a>
              </div>
            </div>
            <div class="card" >
              <img class="card-img-top" src="../resources/barber.png" alt="Card image cap">
              <hr>
              <div class="card-body">
                <h5 class="card-title">Corte Moicano</h5>
                <p class="card-text">
                  El tiempo promedio de un corte de este tipo es de 20 minutos
                </p>
                <p class="card-footer">Precio: $50.00</p>
                <a href="#" class="btn btn-primary">Agendar Cita</a>
              </div>
            </div>
            <div class="card" >
              <img class="card-img-top" src="../resources/barber.png" alt="Card image cap">
              <hr>
              <div class="card-body">
                <h5 class="card-title">Corte Moicano</h5>
                <p class="card-text">
                  El tiempo promedio de un corte de este tipo es de 20 minutos
                </p>
                <p class="card-footer">Precio: $50.00</p>
                <a href="#" class="btn btn-primary">Agendar Cita</a>
              </div>
            </div>
            <div class="card" >
              <img class="card-img-top" src="../resources/barber.png" alt="Card image cap">
              <hr>
              <div class="card-body">
                <h5 class="card-title">Corte Moicano</h5>
                <p class="card-text">
                  El tiempo promedio de un corte de este tipo es de 20 minutos
                </p>
                <p class="card-footer">Precio: $50.00</p>
                <a href="#" class="btn btn-primary">Agendar Cita</a>
              </div>
            </div>
            <div class="card" >
              <img class="card-img-top" src="../resources/barber.png" alt="Card image cap">
              <hr>
              <div class="card-body">
                <h5 class="card-title">Corte Moicano</h5>
                <p class="card-text">
                  El tiempo promedio de un corte de este tipo es de 20 minutos
                </p>
                <p class="card-footer">Precio: $50.00</p>
                <a href="#" class="btn btn-primary">Agendar Cita</a>
              </div>
            </div>
          </div>
        </main>
    </div>

    <script src="../js/main.js"></script>
  </body>
</html>
