:root {
  /* Carga de colores por RGB y HEX */
  --HEX_MAIN_BLACK_COLOR: #000000; /*    rgba(0,0,0,255)      */
  --HEX_PRIMARY_DARK_GRAY_COLOR: #202020; /*    rgba(66,66,66,255)   */
  --HEX_SECONDARY_DARK_GRAY_COLOR: #737373; /*    rgba(115,115,115,255)*/
  --HEX_PRIMARY_LIGTH_GRAY_COLOR: #9e9e9e; /*    rgba(158,158,158,255)*/
  --HEX_SECONDARY_LIGTH_GRAY_COLOR: #ececec; /*    rgba(197,197,197,255)*/
  --HEX_PRIMARY_WHITE_COLOR: #ececec; /*    rgba(236,236,236,255)*/
  --HEX_PRIMARY_ORANGE_COLOR: #fa5422;
  
  --RGB_SECONDARY_LIGTH_GRAY_COLOR: rgba(197,197,197,0.1);
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--HEX_MAIN_BLACK_COLOR);
  min-height: 100vh;
}
ul {
  list-style: none;
}
li {
  list-style: none;
}
a{
    list-style: none;
    text-decoration: none;
}


/* Header Styles */
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    background-color: var(--HEX_MAIN_BLACK_COLOR);
    border-bottom: 1px solid var(--HEX_PRIMARY_WHITE_COLOR);
    color: var(--HEX_SECONDARY_LIGTH_GRAY_COLOR);
    z-index: 100;
}
.menu .menu__logo{
    font-size: 30px;
    padding: 0 50px;
   
}
.menu__logo a{
    color: var(--HEX_SECONDARY_LIGTH_GRAY_COLOR);
}
.menu__logo span{
    font-weight: 700;
    font-size: 35px;
    color: var(--HEX_PRIMARY_ORANGE_COLOR);;
}
.menu .menu__items {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content:flex-end;
}
.menu__items li{
    transition: all .3s ease-in-out;
}
.menu__items li:hover{
    background-color: var(--HEX_PRIMARY_ORANGE_COLOR);
   
}
.menu__items li a {
    display: block;
    padding: 10px ;
    font-size: 15px;
    text-transform: uppercase;
    color: var(--HEX_PRIMARY_WHITE_COLOR);
}
.menu__items li a.active{
   border: 1px solid var(--HEX_PRIMARY_ORANGE_COLOR);
}

.menu__btn__burger{
    margin-right: 30px;
    font-size: 20px;
    display: none;
    cursor: pointer;
}

/*Responsive Header*/

@media screen and (max-width:768px){
    .menu{
        height: 70px;
    }
    .menu__btn__burger{
        display: inline-flex;
    }
    .menu__items{
        position: fixed;
        flex-direction: column;
        width: 100%;
        top: 70px;
        height: calc(100%-70px);
        overflow-y: auto;
        left: 100%;
    }
    
    .menu__items li{
        min-width: 100%;
        justify-content: center;
        text-align: center;
        background-color: var(--HEX_PRIMARY_ORANGE_COLOR);
        border-bottom: 2px solid wheat;
    }
    .menu__items li a{
        top: 0;
        font-size: 20px;
        font-weight: 700;
        color: var(--HEX_PRIMARY_WHITE_COLOR);
    }
    .menu__items.show{
        left: 0;
        transition: all .3s;
    }

    .menu__items{
        left: 100%;
        transition: all .3s;
    }

}


/* Main Styles */
.container__main{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,2fr);
}
.container__main .hero{
    background-image: url(../../resources/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: auto;
}
.container {
    display:flex;
    flex-direction: column;
    background-color: var(--HEX_PRIMARY_DARK_GRAY_COLOR);
    
    overflow-y: scroll;
}
.container h1{
    color: var(--HEX_PRIMARY_ORANGE_COLOR);
    text-transform: uppercase;
    font-family: 'Oxygen';
    font-size: 25px;
    text-align: center;
    border-bottom: 2px solid var(--HEX_PRIMARY_WHITE_COLOR);
    padding: 15px;
}
.container__cards{
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.container .card{
    padding: 10px;
    margin: 10px;

}
.card-img-top{
    height: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}
.container .card .btn-primary{
    min-width: 100%;
    background-color: var(--HEX_PRIMARY_ORANGE_COLOR);
    transition: all .5s;
}
.container .card .btn-primary:hover,.btn-primary:focus{
    border-top-left-radius: 100px;
    border-color: #000000;
}
.container__main .container {
    display: flex;
    justify-content: space-between;
    column-gap: 2.5rem;
}
@media screen and (max-width:768px){
    .container__main.show{
        margin: 130px auto;
        display: none;
        transition: ease-in-out 0.2s;
        
    }
    .container__main {
        display: block;
    }
    .container__main .container{
        display: flex;
        top: 10px!important;
        column-gap: 2rem;
        
    }
}
@media screen and (max-width:540px){
    .menu{
        position: fixed;
        width: 100%;
        top: 0;
    }
    .container__main{
        margin-top: 3rem;
    }
    .container__cards{
       grid-template-columns:  1fr;
    }
    
}

/* Styles for Login */

.login-form {
    background-color: var(--HEX_PRIMARY_WHITE_COLOR);
    height: 100vh;
    min-width: 100%;
    padding: 0 3rem;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
  
.login-form__btn-signin {
    background-color: #fa5422;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
  
.login-form__btn-signin:hover {
    opacity: 0.8;
}
  
.login-form__btn-cancel {
    background-color: #fa5422;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
  
.login-form__img-container {
    justify-content: center;
    display: flex;
    text-align: center;
    margin: 24px 0 12px 0;
}
  
.login-form__img-avatar {
    width: 10em;
    border-radius: 50%;
}
  
.login-form__container {
    padding: 16px;
}
  
.login-form__span-psw {
    float: right;
    padding-top: 16px;
}
  
@media screen and (max-width: 300px) {
    .login-form__span-psw {
      display: block;
      float: none;
    }
    .login-form__cancelbtn {
      width: 100%;
    }
}

/* Footer Styles */
#map{
    height: 100vh;
    width: 100%;
}